{% extends 'main.html' %}
{% block title %}Оцінки{% endblock %}
{% block content %}
	<center>
        <div id="marks-table">
            <table class="w3-table w3-bordered w3-striped w3-centered mark-table mark-table-first">
                {% for course_id, course, mark in marks %}
                    <tr>
                      <td style="padding:0px;">
                        <a href="/mark/{{course_id}}" style="text-decoration:none;">
                          <div class="w3-button" style="table-layout: fixed;width: 100%;">
                            {{ course }}
                          </div>
                        </a>
                      </td>
                      {% for j in mark %}
                          <td>{{ j[0] }}</td>
                      {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
	</center>
{% endblock %}
